{% extends 'base.html.twig' %}

{% block title %}Invitation - {{ app_name }}{% endblock %}

{% block body %}
    {#  Header #}
    {{ component('SectionHeaderComponent', {
        title: 'S\'inscrire à ' ~ app_name
    }) }}

    {# Form #}
    <section class="bg-app-clear-white dark:bg-app-dark-gray">
        <div class="flex flex-col items-center justify-center px-4 py-16 md:px-32 md:py-4 lg:px-6 lg:py-4 mx-auto md:h-screen ">
            <div
                    class="w-full rounded-forms shadow md:mt-0 sm:max-w-3xl xl:p-0 border-forms border-app-clear-gray3 bg-app-clear-white dark:bg-app-dark-gray"
            >
                <div
                        class="p-6 space-y-4 md:space-y-6"
                >

                    {{ form_start(invitationForm,
                        {'attr': {'class': 'space-y-6 lg:space-y-8'}}
                    ) }}

                    {# Username #}
                    <div class="mb-6">
                        {{ form_label(
                            invitationForm.username,
                            "Nom d'utilisateur",
                            {'label_attr':
                                {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                            })
                        }}
                        <div
                                class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                        >
                            {{ form_errors(invitationForm.username) }}
                        </div>
                        {{ form_widget(
                            invitationForm.username,
                            {'attr': {
                                'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                'placeholder': "Mon pseudo"
                            }}
,                        ) }}
                        <p class="mt-1 text-sm text-app-clear-black dark:text-app-dark-gray2">
                            Maximum 20 caractères.
                        </p>
                    </div>
                    {# Email #}
                    <div class="pb-6">
                        {{ form_label(
                            invitationForm.email,
                            "Email",
                            {'label_attr':
                                {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                            })
                        }}
                        <div
                                class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                        >
                            {{ form_errors(invitationForm.email) }}
                        </div>
                        {{ form_widget(
                            invitationForm.email,
                            {'attr': {
                                'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                'placeholder': "my@email.com"
                            }}
                        ) }}
                    </div>
                    {# Password #}
                    <div class="pb-6">
                        {{ form_label(
                            invitationForm.plainPassword.first,
                            "Mot de passe",
                            {'label_attr':
                                {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                            })
                        }}
                        <div
                                class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                        >
                            {{ form_errors(invitationForm.plainPassword.first) }}
                        </div>
                        {{ form_widget(
                            invitationForm.plainPassword.first,
                            {'attr': {
                                'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                'placeholder': "*********",
                            }}
                        ) }}
                        <p class="mt-1 mb-6 text-sm text-app-clear-black dark:text-app-dark-gray2">
                            Minimum 8 caractères.
                        </p>
                        {{ form_label(
                            invitationForm.plainPassword.second,
                            "Confirmez le mot de passe",
                            {'label_attr':
                                {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                            })
                        }}
                        <div
                                class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                        >
                            {{ form_errors(invitationForm.plainPassword.second) }}
                        </div>
                        {{ form_widget(
                            invitationForm.plainPassword.second,
                            {'attr': {
                                'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                'placeholder': "*********",
                            }}
                        ) }}
                        <p class="mt-1 mb-4 text-sm text-app-clear-black dark:text-app-dark-gray2">
                            Minimum 8 caractères.
                        </p>
                    </div>
                    <button
                            type="submit"
                            class="w-full mb-10 rounded-full font-sora-semiBold text-cta-mob md:text-cta-tab lg:text-cta-desk px-16 py-3.5 text-center text-app-clear-white dark:text-app-dark-black bg-app-clear-purple3 dark:bg-app-dark-purple hover:text-app-clear-white hover:bg-app-clear-gray3 dark:hover:text-app-dark-black dark:hover:bg-app-clear-gray2 "
                            title="S'enregistrer"
                    >
                        S'enregistrer
                    </button>
                    {{ form_end(invitationForm) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
