{% trans_default_domain 'app' %}

<div{{ attributes }}>
    <!-- component html -->
    <nav
            class="z-50 w-full mx-auto py-2 px-2 lg:px-0 lg:py-4 bg-app-clear-white dark:bg-app-dark-gray border-b border-app-clear-gray2 dark:border-app-clear-gray3"
    >
        {# Params for change language #}
        {% set currentRoute = app.current_route %}
        {% set currentParams = app.current_route_parameters|merge(app.request.query.all) %}
        {% set pathFr = path(currentRoute, currentParams|merge({'_locale': 'fr'})) %}
        {% set pathEn = path(currentRoute, currentParams|merge({'_locale': 'en'})) %}

        <div class="flex flex-wrap items-center justify-between mx-auto max-w-screen-xl p-4">
            <a
                    href="{{ path('home_index') }}"
                    class="flex items-center space-x-3 rtl:space-x-reverse"
                    title="{{ app_name }}"
            >
                <span
                        class="self-center tracking-titles-spacing text-logo-mob md:text-logo-tab lg:text-logo-desk font-bangers-regular text-app-clear-purple3 dark:text-app-dark-purple"
                >{{ appName }}</span>
            </a>
            {# Menu Right #}
            <div class="flex items-center lg:order-2 space-x-icon-navbar-mob lg:space-x-icon-navbar-desk">
                {# DarkMode Btn #}
                <button
                        id="theme-toggle" type="button"
                        class="text-app-clear-black dark:text-app-dark-gray2 rounded-lg text-sm"
                >
                    <svg id="theme-toggle-dark-icon" class="hidden w-icon-nav-mode-mob h-icon-nav-mode-mob lg:w-icon-nav-mode-desk lg:h-icon-nav-mode-desk" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-icon-nav-mode-mob h-icon-nav-mode-mob lg:w-icon-nav-mode-desk lg:h-icon-nav-mode-desk" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                </button>

                {# UserMenu #}
                <button
                        type="button"
                        class="flex text-sm bg-app-clear-white dark:bg-app-dark-gray rounded-full md:me-0"
                        id="user-menu-button"
                        aria-expanded="false"
                        data-dropdown-toggle="user-dropdown"
                        data-dropdown-placement="bottom"
                        data-dropdown-offset-distance="15"
                        data-dropdown-offset-skidding="-30"
                >
                    <span class="sr-only">Open user menu</span>
                    {% if app.user %}
                        <div class="relative">
                            <svg
                                    class="w-icon-nav-user-mob h-icon-nav-user-mob lg:w-icon-nav-user-desk lg:h-icon-nav-user-desk text-app-clear-black dark:text-app-dark-gray2"
                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 18">
                                <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                            </svg>
                            <span class="bottom-0 left-4 lg:left-3 absolute w-4 h-4 lg:w-4 lg:h-4 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        </div>
                    {% else %}
                        <svg
                                class="w-icon-nav-user-mob h-icon-nav-user-mob lg:w-icon-nav-user-desk lg:h-icon-nav-user-desk text-app-clear-black dark:text-app-dark-gray2"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 18">
                            <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                        </svg>
                    {% endif %}

                </button>
                <div
                        class="z-50 hidden font-sora-regular text-title-menu-mob lg:text-title-manga-desk list-none divide-y divide-gray-100 bg-app-clear-white dark:bg-app-dark-gray dark:divide-gray-600 rounded-lg shadow border-2 border-app-clear-gray3 dark:border-2 dark:border-app-dark-gray1"
                        id="user-dropdown"
                >
                    {% if app.user %}
                        <ul class="py-2" aria-labelledby="user-menu-button">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin_index') }}"
                                       class="block px-4 py-2 text-app-clear-black dark:text-app-dark-gray2 hover:text-app-clear-white dark:hover:text-app-clear-black hover:bg-app-clear-purple3 dark:hover:bg-app-dark-purple"
                                       title="{{ 'app.admin_area'|trans|capitalize }}"
                                    >
                                        {{ 'app.admin_area'|trans|capitalize }}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('user_index') }}"
                                   class="block px-4 py-2 text-app-clear-black dark:text-app-dark-gray2 hover:text-app-clear-white dark:hover:text-app-clear-black hover:bg-app-clear-purple3 dark:hover:bg-app-dark-purple"
                                   title="{{ 'app.my_account'|trans|capitalize }}"
                                >
                                    {{ 'app.my_account'|trans|capitalize }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('security_logout') }}"
                                   class="block px-4 py-2 text-app-clear-black dark:text-app-dark-gray2 hover:text-app-clear-white dark:hover:text-app-clear-black hover:bg-app-clear-purple3 dark:hover:bg-app-dark-purple"
                                   title="{{ 'app.sign_out'|trans|capitalize }}"
                                >
                                    {{ 'app.sign_out'|trans|capitalize }}
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <div class="py-2">
                            <a
                                    href="{{ path('security_login') }}"
                                    class="block px-3 py-1 text-app-clear-black dark:text-app-dark-gray2 hover:text-app-clear-white dark:hover:text-app-clear-black hover:bg-app-clear-purple3 dark:hover:bg-app-dark-purple"
                                    title="{{ 'app.sign_in'|trans|capitalize }}"
                            >
                                {{ 'app.sign_in'|trans|capitalize }}
                            </a>
                        </div>
                    {% endif %}
                </div>

                {# Language select #}
                <div
                        {{ stimulus_controller('language', {'pathFr': pathFr, 'pathEn': pathEn, 'currentLang': app.locale }) }}
                        class="hidden lg:flex gap-2"
                >
                        <select
                                {{ stimulus_action('language', 'changeLanguage', 'change', {currentLang: app.locale}) }}
                                class="block py-2.5 px-0 w-full tracking-titles-spacing font-bangers-regular text-title-menu-mob md:text-title-menu-tab lg:text-title-manga-desk text-app-clear-black dark:text-app-dark-gray2 bg-app-clear-white dark:bg-app-dark-gray border-0 border-b-2 border-app-clear-black dark:border-app-dark-gray2 appearance-none focus:outline-none focus:ring-0 focus:border-app-clear-gray3 peer"
                        >
                            <option
                                    class="hover:bg-app-clear-purple"
                                    {% if app.locale == 'en' %}
                                        selected
                                    {% endif %}
                                    value="en"
                            >
                                EN
                            </option>
                            <option
                                    {% if app.locale == 'fr' %}
                                        selected
                                    {% endif %}
                                    value="fr"
                            >
                                FR
                            </option>
                        </select>
                    {#                    <button#}
                    {#                            {{ stimulus_action('language', 'changeLanguage', 'click', {targetPath: pathEn, targetLang: 'en', currentLocale: app.locale}) }}#}
                    {#                            class="inline-flex items-center tracking-titles-spacing font-bangers-regular text-title-menu-mob md:text-title-menu-tab lg:text-title-manga-desk text-app-clear-black dark:text-app-dark-gray2 bg-transparent cursor-pointer hover:text-app-clear-purple dark:hover:text-app-dark-purple"#}
                    {#                            id="enBtn"#}
                    {#                            title="{{ 'app.english'|trans|capitalize }}"#}
                    {#                    >#}
                    {#                        EN#}
                    {#                    </button>#}

                    {#                    <span class="text-app-dark-gray dark:text-app-dark-gray2">|</span>#}
                    {#                    <button#}
                    {#                            {{ stimulus_action('language', 'changeLanguage', 'click', {targetPath: pathFr, targetLang: 'fr', currentLocale: app.locale}) }}#}
                    {#                            class="inline-flex items-center tracking-titles-spacing font-bangers-regular text-title-menu-mob md:text-title-menu-tab lg:text-title-manga-desk text-app-clear-black dark:text-app-dark-gray2 bg-transparent cursor-pointer hover:text-app-clear-purple dark:hover:text-app-dark-purple"#}
                    {#                            id="frBtn"#}
                    {#                            title="{{ 'app.french'|trans|capitalize }}"#}
                    {#                    >#}
                    {#                        FR#}
                    {#                    </button>#}
                </div>

                {# Mobile burger menu#}
                <button
                        data-collapse-toggle="mobile-menu-2"
                        type="button"
                        class="inline-flex items-center text-sm text-app-clear-black dark:text-app-dark-gray2 rounded-lg lg:hidden hover:bg-app-clear-white dark:hover:bg-app-dark-gray focus:text-app-clear-purple3 dark:focus:text-app-dark-purple"
                        aria-controls="mobile-menu-2"
                        aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-icon-nav-menu-mob h-icon-nav-menu-mob" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    <svg class="hidden w-14 h-14" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            {# Main menu #}
            <div
                    class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1 h-screen lg:h-0"
                    id="mobile-menu-2"
            >
                <ul
                        class="flex flex-col lg:flex-row font-bangers-regular mt-menu-mob-top lg:mt-menu-desk-top space-y-menu-navbar-y-mob lg:space-y-menu-navbar-y-desk lg:space-x-menu-navbar-x"
                >
                    {# menus #}
                    {% for key, menu in menus %}
                        {% if app.current_route == key %}
                            <li>
                                <a href="{{ path(key) }}"
                                   class="block tracking-titles-spacing text-title-menu-mob md:text-title-menu-tab lg:text-title-manga-desk text-app-clear-black dark:text-app-clear-white rounded bg-transparent underline underline-offset-menu-mob lg:underline-offset-menu-desk decoration-menu-mob lg:decoration-menu-desk decoration-app-clear-purple3 dark:decoration-app-dark-purple"
                                   aria-current="page"
                                   title="{{ menu|trans|capitalize }}"
                                >
                                    {{ menu|trans|capitalize }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path(key) }}"
                                   class="block tracking-titles-spacing text-title-menu-mob md:text-title-menu-tab lg:text-title-manga-desk text-app-clear-black border-b hover:bg-app-clear-gray lg:hover:bg-transparent lg:border-0 lg:hover:text-app-clear-purple3 lg:dark:hover:text-app-dark-purple dark:text-app-dark-gray2 border-transparent no-underline"
                                   title="{{ menu|trans|capitalize }}"
                                >
                                    {{ menu|trans|capitalize }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li
                            {{ stimulus_controller('language') }}
                            class="flex gap-2 lg:hidden"
                    >
                        <button
                                {{ stimulus_action('language', 'changeLanguage', 'click', {targetPath: pathEn, targetLang: 'en', currentLocale: app.locale}) }}
                                class="inline-flex items-center tracking-titles-spacing font-bangers-regular text-title-menu-mob md:text-title-menu-tab lg:text-title-manga-desk text-app-clear-black dark:text-app-dark-gray2 bg-transparent cursor-pointer hover:text-app-clear-purple dark:hover:text-app-dark-purple"
                                id="enBtn"
                                title="{{ 'app.english'|trans|capitalize }}"
                        >
                            <img class="w-5 h-5 rounded-full me-3"
                                 src="{{ asset('build/images/united-states-of-america-united-states-svgrepo-com.svg') }}"
                                 alt="{{ app_team_name_1 }}"
                            >
                            EN
                        </button>
                        <span class="text-app-dark-gray dark:text-app-dark-gray2">|</span>
                        <button
                                {{ stimulus_action('language', 'changeLanguage', 'click', {targetPath: pathFr, targetLang: 'fr', currentLocale: app.locale}) }}
                                class="inline-flex items-center tracking-titles-spacing font-bangers-regular text-title-menu-mob md:text-title-menu-tab lg:text-title-manga-desk text-app-clear-black dark:text-app-dark-gray2 bg-transparent cursor-pointer hover:text-app-clear-purple dark:hover:text-app-dark-purple"
                                id="frBtn"
                                title="{{ 'app.french'|trans|capitalize }}"
                        >
                            <img class="w-5 h-5 rounded-full me-3"
                                 src="{{ asset('build/images/france-svgrepo-com.svg') }}"
                                 alt="{{ app_team_name_1 }}"
                            >
                            FR
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
