<div{{ attributes }}>
    <!-- component html -->
    {% set targetAppFlashes = flashesMessageTarget|length > 0 ? flashesMessageTarget : app.flashes  %}
    {% for label, messages in targetAppFlashes %}
        {% if label == 'info' %}
            {% set divColorClasses = "text-blue-800 bg-blue-50 dark:bg-gray-800 dark:text-blue-400" %}
            {% set btnColorClasses =  "bg-blue-50 text-blue-500 focus:ring-2 focus:ring-blue-400 hover:bg-blue-200 hover:bg-blue-200 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700"%}
        {% elseif label == 'warning' %}
            {% set divColorClasses = "text-yellow-800 bg-yellow-50 dark:bg-gray-800 dark:text-yellow-400" %}
            {% set btnColorClasses =  "bg-yellow-50 text-yellow-500 focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 hover:bg-yellow-200 dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700"%}
        {% elseif label == 'danger' %}
            {% set divColorClasses = "text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400" %}
            {% set btnColorClasses =  "bg-red-50 text-red-500 focus:ring-2 focus:ring-red-400 hover:bg-red-200 hover:bg-red-200 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"%}
        {% elseif label == 'success' %}
            {% set divColorClasses = "text-green-800 bg-green-50 dark:bg-gray-800 dark:text-green-400" %}
            {% set btnColorClasses =  "bg-green-50 text-green-500 focus:ring-2 focus:ring-green-400 hover:bg-green-200 hover:bg-green-200 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"%}
        {% else %}
            {% set divColorClasses = "text-blue-800 bg-blue-50 dark:bg-gray-800 dark:text-blue-400" %}
            {% set btnColorClasses =  "bg-blue-50 text-blue-500 focus:ring-2 focus:ring-blue-400 hover:bg-blue-200 hover:bg-blue-200 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700"%}
        {% endif %}

        {% for key, message in messages %}
            <div
                    id="alert-div-{{ key }}"
                    class="flex items-center p-4 mb-4 rounded-lg {{ divColorClasses }}"
{#                    class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"#}
                 role="alert"
            >
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div id="alert-message" class="div-flash-message ms-3 text-text-mob lg:text-text-desk font-sora-regular">
                    {{ message }}
                </div>
                <button
                        type="button"
                        class="ms-auto -mx-1.5 -my-1.5 rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8 {{ btnColorClasses }}" data-dismiss-target="#alert-3" aria-label="Close">
{#                        class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">#}
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
</div>
