{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}

{% block body %}
    {#  Header #}
    {{ component('SectionHeaderComponent', {
        title: 'Réinitialiser mon mot de passe'
    }) }}

    {# Breadcrumb #}
    {{ component('BreadcumbComponent', {
        'menus' : {
            'Se connecter' : path('security_login'),
            'current' : 'Réinitialiser mon mot de passe'
        }
    }) }}

    <div class="flex flex-col items-center justify-center px-4 py-8 lg:px-6 mx-auto lg:py-10">

        {# Flashes messages #}
        <div class="mx-4">
            {{ component('FlashesMessagesComponent') }}
        </div>

        {# Content #}
        <div class="flex flex-col items-center justify-center px-4 py-8 lg:px-6 mx-auto lg:py-0">
            <h3
                    class="flex items-center mb-6 text-logo-mob lg:text-logo-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"
            >
                Réinitialiser mon mot de passe
            </h3>

            <div
                    class="w-full rounded-lg shadow md:mt-0 sm:max-w-3xl xl:p-0 border border-app-clear-black bg-app-clear-white dark:bg-gray-800 dark:border dark:border-gray-700"
            >
                <div
                        class="p-4 lg:p-8 space-y-4 md:space-y-6 "
                >

                    {{ form_start(passwordForm,
                        {'attr': {'class': 'space-y-6 lg:space-y-8'}}
                    ) }}

                    {# newPassword #}
                    <div class="mb-10">
                        {{ form_label(
                            passwordForm.plainPassword.first,
                            "Nouveau mot de passe",
                            {'label_attr':
                                {'class': "block mb-3 text-label-form-mob lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                            })
                        }}
                        <div
                                class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                        >
                            {{ form_errors(passwordForm.plainPassword.first) }}
                        </div>
                        {{ form_widget(
                            passwordForm.plainPassword.first,
                            {'attr': {
                                'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-focus-purple focus:border-app-focus-purple block p-2.5 bg-gray-50 border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-app-focus-purple dark:focus:border-app-focus-purple",
                            }}
                        ) }}
                        <p class="mt-1 mb-4 text-sm text-app-clear-black dark:text-app-dark-gray2">
                            Minimum 8 caractères.
                        </p>
                        {{ form_label(
                            passwordForm.plainPassword.second,
                            "Confirmez le nouveau mot de passe",
                            {'label_attr':
                                {'class': "block mb-3 text-label-form-mob lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                            })
                        }}
                        <div
                                class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                        >
                            {{ form_errors(passwordForm.plainPassword.second) }}
                        </div>
                        {{ form_widget(
                            passwordForm.plainPassword.second,
                            {'attr': {
                                'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-focus-purple focus:border-app-focus-purple block p-2.5 bg-gray-50 border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-app-focus-purple dark:focus:border-app-focus-purple",
                            }}
                        ) }}
                        <p class="mt-1 mb-4 text-sm text-app-clear-black dark:text-app-dark-gray2">
                            Minimum 8 caractères.
                        </p>
                    </div>
                    <button
                            type="submit"
                            class="w-full mb-10 rounded-full font-sora-semiBold text-cta-mob lg:text-cta-desk px-16 py-3.5 text-center text-app-dark-gray1 hover:text-app-clear-white hover:bg-app-clear-purple ring-4 ring-app-clear-purple focus:ring-4 focus:outline-8 focus:ring-app-clear-purple dark:border-app-clear-purple dark:text-app-dark-gray2 dark:hover:text-app-dark-gray2 dark:hover:bg-app-clear-purple dark:focus:ring-app-clear-purple"
                            title="Modifier"
                    >
                        Modifier
                    </button>
                    {{ form_end(passwordForm) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
