{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}

{% block body %}
    {#  Header #}
    {{ component('SectionHeaderComponent', {
        title: 'Réinitialiser mon mot de passe',
        menuBreadcrumb: {
            'Se connecter' : path('security_login'),
            'current' : 'Réinitialiser mon mot de passe'
        }
    }) }}

    {# Form #}
    <div>
        {# Flashes messages #}
        <div class="mx-4">
            {{ component('FlashesMessagesComponent') }}
        </div>

        {# Content #}
        <div class="flex flex-col items-center justify-center px-4 py-16 md:px-32 md:py-4 lg:px-6 lg:py-4 mx-auto md:h-screen ">
            <div
                    class="w-full rounded-forms shadow md:mt-0 sm:max-w-3xl xl:p-0 border-forms border-app-clear-gray3 bg-app-clear-white dark:bg-app-dark-gray"
            >
                <div
                        class="p-6 space-y-4 md:space-y-6"
                >

                    {{ form_start(passwordForm,
                        {'attr': {'class': 'space-y-6 lg:space-y-8'}}
                    ) }}

                    {# newPassword #}
                    <div class="mb-6">
                        {{ form_label(
                            passwordForm.plainPassword.first,
                            "Nouveau mot de passe",
                            {'label_attr':
                                {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                            })
                        }}
                        <div
                                class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                        >
                            {{ form_errors(passwordForm.plainPassword.first) }}
                        </div>
                        {{ form_widget(
                            passwordForm.plainPassword.first,
                            {'attr': {
                                'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                            }}
                        ) }}
                        <p class="mt-1 mb-4 text-sm text-app-clear-black dark:text-app-dark-gray2">
                            Minimum 8 caractères.
                        </p>
                        {{ form_label(
                            passwordForm.plainPassword.second,
                            "Confirmez le nouveau mot de passe",
                            {'label_attr':
                                {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                            })
                        }}
                        <div
                                class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                        >
                            {{ form_errors(passwordForm.plainPassword.second) }}
                        </div>
                        {{ form_widget(
                            passwordForm.plainPassword.second,
                            {'attr': {
                                'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                            }}
                        ) }}
                        <p class="mt-1 mb-4 text-sm text-app-clear-black dark:text-app-dark-gray2">
                            Minimum 8 caractères.
                        </p>
                    </div>
                    <button
                            type="submit"
                            class="w-full mb-10 rounded-full font-sora-semiBold text-cta-mob md:text-cta-tab lg:text-cta-desk px-16 py-3.5 text-center text-app-clear-white dark:text-app-dark-black bg-app-clear-purple3 dark:bg-app-dark-purple hover:text-app-clear-white hover:bg-app-clear-gray3 dark:hover:text-app-dark-black dark:hover:bg-app-clear-gray2 "
                            title="Modifier"
                    >
                        Modifier
                    </button>
                    {{ form_end(passwordForm) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
