{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    {# Jumbotron #}
    <section class="bg-app-clear-gray dark:bg-app-dark-black h-screen flex items-center">
        <div class="mx-auto max-w-screen-xl text-left">
            {# Image Roboto #}
{#            <img#}
{#                    class="h-auto max-w-lg mx-auto"#}
{#                    src="{{ asset('build/images/Roboto.svg') }}"#}
{#                    alt="{{ app_name }}"#}
{#            >#}


            {#  Title #}
            <h1
                    class="text-h1-mob lg:text-h1-desk md:leading-tight font-sora-bold tracking-tight text-app-dark-gray1 dark:text-app-clear-white">
                Synchronisez votre <br>
                <span
                        class="text-transparent bg-clip-text bg-gradient-to-r from-app-clear-purple2 to-app-clear-purple"
                >
                    passion
                </span>
                pour les<br>
                mangas.
            </h1>
        </div>
    </section>

    {# Top mangas #}
    {{ component('MangaCardInlineComponent', {
        title: 'Les dernières tendances',
        mangas: topMangas,
        isHome: true
    }) }}

     {# Info section  #}
    {{ component('InfoSectionComponent', {
        title: 'Une expérience synchronisée',
        info: app_name~', l’application dédiée aux passionnés de mangas, simplifie la gestion de votre progression de lecture. Créez votre scanthèque, suivez vos scans préférés et synchronisez votre avancée en temps réel.',
        titleBtn: 'Découvrir'
    }) }}

    {# Latest mangas #}
    {{ component('MangaCardInlineComponent', {
        title: 'Les dernières sorties',
        mangas: latestMangas,
        isHome: true
    }) }}

    {# Info section #}
    {#    {{ component('InfoSectionComponent', {#}
    {#        title: 'Simplifiez votre suivi de lecture',#}
    {#        info: 'Libérez-vous du suivi manuel en enregistrant vos chapitres lus dans votre scanthèque.',#}
    {#        titleBtn: 'S\'inscrire'#}
    {#    }) }}#}
{% endblock %}
