{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    {#  Header #}
    {{ component('SectionHeaderComponent', {
        title: 'Mon compte',
        menuBreadcrumb: {
            'current' : 'Mon compte'
        }
    }) }}

    {# Flashes messages #}
    <div class="mx-4">
        {{ component('FlashesMessagesComponent') }}
    </div>


    {# User Tab #}
    <div
            {{ stimulus_controller('account') }}
            class="px-6 py-16 md:px-16 md:py-20 lg:px-6 lg:py-20 mx-4 md:flex"
    >
        {# Get tabSelected param #}
        {% set tabSelected = app.request.query.get('tabSelected') %}
        <ul
                class="flex-column space-y space-y-4 text-text-mob md:text-text-tab lg:text-text-desk font-sora-regular md:me-4 mb-4 md:mb-0 text-gray-500 dark:text-gray-400"
                id="account-tabs"
                data-tabs-toggle="#account-tab-content"
                role="tablist"
        >
            {# Btn tab 1 #}
            <li>
                <a
                        href="#"
                        class="inline-flex items-center px-4 py-3 text-white dark:text-white bg-app-clear-blue dark:bg-app-dark-blue1 rounded-lg active w-full"
                        aria-current="page"
                        {% if tabSelected is not defined %}
                            aria-selected="true"
                        {% else  %}
                            aria-selected="false"
                        {% endif %}
                        data-tabs-target="#tab-content-1"
                        aria-controls="tab-content-1"
                        role="tab"
                        title="Infos"
                >
                    <svg class="w-4 h-4 me-2 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                    </svg>
                    Infos
                </a>
            </li>
            {# Btn tab 2 #}
            <li>
                <a
                        href="#"
                        class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
                        data-tabs-target="#tab-content-2"
                        {% if tabSelected == 2%}
                            aria-selected="true"
                        {% else  %}
                            aria-selected="false"
                        {% endif %}
                        aria-controls="tab-content-2"
                        role="tab"
                        title="Éditer mes informations"
                >
                    <svg class="w-4 h-4 me-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm-1.391 7.361.707-3.535a3 3 0 0 1 .82-1.533L7.929 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h4.259a2.975 2.975 0 0 1-.15-1.639ZM8.05 17.95a1 1 0 0 1-.981-1.2l.708-3.536a1 1 0 0 1 .274-.511l6.363-6.364a3.007 3.007 0 0 1 4.243 0 3.007 3.007 0 0 1 0 4.243l-6.365 6.363a1 1 0 0 1-.511.274l-3.536.708a1.07 1.07 0 0 1-.195.023Z"/>
                    </svg>

                    Éditer mes informations
                </a>
            </li>
            {# Btn tab 3 #}
            <li>
                <a
                        href="#"
                        class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
                        data-tabs-target="#tab-content-3"
                        {% if tabSelected == 3%}
                            aria-selected="true"
                        {% else  %}
                            aria-selected="false"
                        {% endif %}
                        aria-controls="tab-content-3"
                        role="tab"
                        title="Changer mon mot de passe"
                >
                    <svg class="w-5 h-5 me-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M1 5h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 1 0 0-2H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2Zm18 4h-1.424a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2h10.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Zm0 6H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 0 0 0 2h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Z"/>
                    </svg>
                    Changer mon mot de passe
                </a>
            </li>
            {# Btn tab 4 #}
            <li>
                <a
                        href="#"
                        class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
                        data-tabs-target="#tab-content-4"
                        aria-selected="false"
                        aria-controls="tab-content-4"
                        role="tab"
                        title="Supprimer mon compte"
                >
                    <svg class="w-4 h-4 me-2 text-gray-400 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-6a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2Z"/>
                    </svg>
                    Supprimer mon compte
                </a>
            </li>
        </ul>
        {# Tab content 1 #}
        <div
                id="tab-content-1"
                class="p-6 bg-app-clear-gray3 dark:bg-app-dark-gray3 text-medium text-gray-500 dark:text-gray-400 rounded-forms w-full"
                role="tabpanel"
        >
            <div class="p-4 bg-app-clear-white rounded-forms md:p-8 dark:bg-app-dark-gray" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                <h3 class="text-center text-h3-mob md:text-h3-tab lg:text-h3-desk font-bangers-regular text-app-clear-black dark:text-app-dark-gray2 mb-2">
                    Hello {{ user.username }} !
                </h3>

                <p class="text-h3-mob md:text-h3-tab lg:text-h3-desk font-bangers-regular text-app-clear-black dark:text-app-dark-gray2 mb-2">
                    Petit rappel :
                </p>
                <ul class="w-full space-y-1 list-disc list-inside font-sora-regular text-text-mob md:text-text-tab lg:text-text-desk text-app-clear-black dark:text-app-dark-gray2">
                    <li class="pb-5">
                        {{ app_name }} se distingue par son engagement envers la protection de la vie privée de ses utilisateurs.
                    </li>
                    <li class="pb-5">
                        En tant qu'application, {{ app_name }} s'engage formellement à ne pas enregistrer les données personnelles de ses utilisateurs.
                        Seuls l'e-mail associé au compte et la scanthèque, qui contient le suivi des mangas, seront sauvegardés dans le strict respect
                        de la confidentialité. Ainsi, les utilisateurs peuvent profiter pleinement de l'expérience {{ app_name}} sans craindre une intrusion
                        dans leur vie privée.
                    </li>
                    <li>
                        De plus, il est important de noter que {{ app_name }} offre une expérience sans publicité, soulignant davantage son engagement
                        envers une utilisation sans interruption et axée sur le contenu pour ses utilisateurs.
                    </li>
                </ul>
            </div>
        </div>
        {# Tab content 2 #}
        <div
                id="tab-content-2"
                class="p-6 bg-app-clear-gray3 dark:bg-app-dark-gray3 text-medium text-gray-500 dark:text-gray-400 rounded-forms w-full"
                role="tabpanel"
        >
            <div class="flex flex-col items-center justify-center px-4 py-8 lg:px-6 mx-auto lg:py-0">
                <h3
                        class="flex items-center mb-6 text-h3-mob md:text-h3-tab lg:text-h3-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"
                >
                    Éditer mes informations
                </h3>

                <div
                        class="w-full rounded-forms shadow md:mt-0 sm:max-w-3xl xl:p-0 border-forms border-app-clear-gray3 bg-app-clear-white dark:bg-app-dark-gray"
                >
                    <div
                            class="p-10 space-y-4 md:space-y-6"
                    >

                        {{ form_start(userForm,
                            {'attr': {'class': 'space-y-6 lg:space-y-8'}}
                        ) }}

                        {# Username #}
                        <div class="mb-10">
                            {{ form_label(
                                userForm.username,
                                "Nom d'utilisateur",
                                {'label_attr':
                                    {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                                })
                            }}
                            <div
                                    class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                    role="alert"
                            >
                                {{ form_errors(userForm.username) }}
                            </div>
                            {{ form_widget(
                                userForm.username,
                                {'attr': {
                                    'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                    'placeholder': "Mon pseudo"
                                }}
                                ,                        ) }}
                            <p class="mt-1 text-sm text-app-clear-black dark:text-app-dark-gray2">
                                Maximum 20 caractères.
                            </p>
                        </div>
                        {# Email #}
                        <div class="pb-6">
                            {{ form_label(
                                userForm.email,
                                "Email",
                                {'label_attr':
                                    {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                                })
                            }}
                            <div
                                    class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                    role="alert"
                            >
                                {{ form_errors(userForm.email) }}
                            </div>
                            {{ form_widget(
                                userForm.email,
                                {'attr': {
                                    'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                }}
                            ) }}
                        </div>

                        <button
                                type="submit"
                                class="w-full mb-10 rounded-full font-sora-semiBold text-cta-mob md:text-cta-tab lg:text-cta-desk px-16 py-3.5 text-center text-app-clear-white dark:text-app-dark-black bg-app-clear-purple3 dark:bg-app-dark-purple hover:text-app-clear-white hover:bg-app-clear-gray3 dark:hover:text-app-dark-black dark:hover:bg-app-clear-gray2 "
                                title="Enregistrer les modifications"
                        >
                            Valider
                        </button>
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>

        </div>
        {# Tab content 3 #}
        <div
                id="tab-content-3"
                class="p-6 bg-app-clear-gray3 dark:bg-app-dark-gray3 text-medium text-gray-500 dark:text-gray-400 rounded-forms w-full"
                role="tabpanel"
        >
            <div class="flex flex-col items-center justify-center px-4 py-8 lg:px-6 mx-auto lg:py-0">
                <h3
                        class="flex items-center mb-6 text-h3-mob md:lg:text-h3-tab lg:text-h3-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"
                >
                    Modifier mon mot de passe
                </h3>

                <div
                        class="w-full rounded-forms shadow md:mt-0 sm:max-w-3xl xl:p-0 border-forms border-app-clear-gray3 bg-app-clear-white dark:bg-app-dark-gray"
                >
                    <div
                            class="p-10 space-y-4 md:space-y-6"
                    >

                        {{ form_start(passwordForm,
                            {'attr': {'class': 'space-y-6 lg:space-y-8'}}
                        ) }}

                        {# plainPassword #}
                        <div class="mb-10">
                            {{ form_label(
                                passwordForm.plainPassword,
                                "Mot de passe",
                                {'label_attr':
                                    {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                                })
                            }}
                            <div
                                    class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                    role="alert"
                            >
                                {{ form_errors(passwordForm.plainPassword) }}
                            </div>
                            {{ form_widget(
                                passwordForm.plainPassword,
                                {'attr': {
                                    'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                }}
                            ) }}
                            <p class="mt-1 mb-4 text-sm text-app-clear-black dark:text-app-dark-gray2">
                                Minimum 8 caractères.
                            </p>
                        </div>

                        {# newPassword #}
                        <div class="mb-10">
                            {{ form_label(
                                passwordForm.newPassword.first,
                                "Nouveau mot de passe",
                                {'label_attr':
                                    {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                                })
                            }}
                            <div
                                    class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                    role="alert"
                            >
                                {{ form_errors(passwordForm.newPassword.first) }}
                            </div>
                            {{ form_widget(
                                passwordForm.newPassword.first,
                                {'attr': {
                                    'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                }}
                            ) }}
                            <p class="mt-1 mb-4 text-sm text-app-clear-black dark:text-app-dark-gray2">
                                Minimum 8 caractères.
                            </p>
                            {{ form_label(
                                passwordForm.newPassword.second,
                                "Confirmez le nouveau mot de passe",
                                {'label_attr':
                                    {'class': "block mb-3 text-label-form-mob md:text-label-form-tab lg:text-label-form-desk font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2"}
                                })
                            }}
                            <div
                                    class="text-sm font-sora-semiBold bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                    role="alert"
                            >
                                {{ form_errors(passwordForm.newPassword.second) }}
                            </div>
                            {{ form_widget(
                                passwordForm.newPassword.second,
                                {'attr': {
                                    'class' : "w-full text-app-clear-black dark:text-app-dark-gray2 text-text-form-mob md:text-text-form-tab lg:text-text-form-desk font-sora-regular rounded-lg focus:ring-app-clear-purple3 focus:border-app-clear-purple3 dark:focus:ring-app-dark-purple dark:focus:border-app-dark-purple block p-2.5 bg-app-clear-white dark:bg-app-dark-gray border border-app-clear-gray3 dark:placeholder-app-clear-gray3 ",
                                }}
                            ) }}
                            <p class="mt-1 mb-4 text-sm text-app-clear-black dark:text-app-dark-gray2">
                                Minimum 8 caractères.
                            </p>
                        </div>
                        <button
                                type="submit"
                                class="w-full mb-10 rounded-full font-sora-semiBold text-cta-mob md:text-cta-tab lg:text-cta-desk px-16 py-3.5 text-center text-app-clear-white dark:text-app-dark-black bg-app-clear-purple3 dark:bg-app-dark-purple hover:text-app-clear-white hover:bg-app-clear-gray3 dark:hover:text-app-dark-black dark:hover:bg-app-clear-gray2 "
                                title="S'enregistrer"
                        >
                            S'enregistrer
                        </button>
                        {{ form_end(passwordForm) }}
                    </div>
                </div>
            </div>
        </div>
        {# Tab content 4 #}
        <div
                id="tab-content-4"
                class="p-6 bg-app-clear-gray3 dark:bg-app-dark-gray3 font-sora-regular text-medium text-gray-500 dark:text-gray-400 rounded-forms w-full"
                role="tabpanel"
        >
            <div class="w-full p-4 text-center bg-white border-forms border-red-700 rounded-forms shadow sm:p-8 dark:bg-app-dark-gray dark:border-red-700">
                <h5 class="mb-3 text-3xl font-sora-bold text-gray-900 dark:text-white">
                    Suppression du compte
                </h5>
                <p class="mb-5 text-base text-app-clear-black sm:text-lg dark:text-app-dark-gray2">

                    La suppression du compte est irréversible et toutes vos données seront supprimées.
                </p>
                <p class="mb-5 text-base text-app-clear-black sm:text-lg dark:text-app-dark-gray2">

                    Êtes-vous sûre de vouloir supprimer votre compte ?
                </p>
                <p
                        {{ stimulus_target('account', 'counterDelete') }}
                        id="counter-delete"
                        class="hidden mb-5 font-sora-bold text-base text-app-clear-black sm:text-lg dark:text-app-dark-gray2"
                >
                </p>
                <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
                    <a
                            {{ stimulus_action('account', 'deleteUserAccount') }}
                            {{ stimulus_target('account', 'btnDelete') }}
                            href="#"
                            class="w-full sm:w-auto bg-red-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-red-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
                            title="Supprimer mon compte"
                    >
                        <svg class="me-3 w-7 h-7 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                            <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                        </svg>
                        <div class="text-left rtl:text-right">
                            <div class="mb-1 text-xs">CLiquez ici pour</div>
                            <div class="-mt-1 font-sans text-sm font-semibold">Supprimer mon compte</div>
                        </div>
                    </a>
                    <a
                            {{ stimulus_action('account', 'cancelDeleteUserAccount') }}
                            {{ stimulus_target('account', 'btnCancelDelete') }}
                            href="#"
                            class="hidden w-full sm:w-auto bg-green-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-green-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
                            title="Annuler la suppression"
                    >
                        <svg class="me-3 w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 16">
                            <path d="M10.819.4a1.974 1.974 0 0 0-2.147.33l-6.5 5.773A2.014 2.014 0 0 0 2 6.7V1a1 1 0 0 0-2 0v14a1 1 0 1 0 2 0V9.3c.055.068.114.133.177.194l6.5 5.773a1.982 1.982 0 0 0 2.147.33A1.977 1.977 0 0 0 12 13.773V2.227A1.977 1.977 0 0 0 10.819.4Z"/>
                        </svg>
                        <div class="text-left rtl:text-right">
                            <div class="mb-1 text-xs">CLiquez ici pour</div>
                            <div class="-mt-1 font-sans text-sm font-semibold">Annuler la suppression</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
