{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ manga.title|capitalize }}{% endblock %}

{% block stylesheetsExtends %}
    {{ encore_entry_link_tags('htmx') }}
{% endblock %}

{% block javascriptsExtends %}
    {{ encore_entry_script_tags('htmx') }}
{% endblock %}

{% block body %}
    <section class="pt-2 lg:pt-4 bg-app-clear-white dark:bg-app-dark-gray">
        <div class="pt-4">
            {# Breadcrumb #}
            {{ component('BreadcumbComponent', {
                'isCenter': false,
                'menus' : {
                    'app.catalog' : path('catalog_index'),
                    'current' : manga.title
                }
            }) }}
        </div>


        {# Toast message #}
        {{ component('ToastComponent', {
            message: 'scantheque.add_success',
            typeMessage: 'success',
            positionYMob: 'bottom-[18rem]',
            positionXMob: 'right-[2%]',
            positionYDesk: 'lg:bottom-[6rem]',
            positionXDesk: 'lg:left-[1.5rem] lg:right-[55rem]'
        }) }}

        <div
                class="grid grid-cols-1 md:grid md:grid-cols-3 lg:grid lg:grid-cols-3 items-center md:items-start lg:items-start px-2 md:px-4 lg:px-4 py-6 md:py-16 lg:py-16 mx-auto max-w-screen-xl"
        >
            {# Set user datas for localstorage #}
            {% set userConnected = app.user ? true : false %}
            {% set userConfig = app.user ? app.user.scanthequeData : [] %}

            {#Left #}
            <div
                    {{ stimulus_controller('scantheque', {'userConnected': userConnected,'userConfig': userConfig}) }}
                    class="col-span-1 bg-app-clear-white rounded-lg dark:bg-transparent"
            >
                {# Image #}
                <div>
                    <img
                            class="mx-auto w-manga-detail-mob md:w-manga-detail-tab lg:w-manga-detail-desk h-manga-detail-mob md:h-manga-detail-desk lg:h-manga-detail-desk p-manga-card rounded-manga-scantheque-mob md:rounded-manga-scantheque-tab lg:rounded-manga-scantheque-desk border-manga-card-mob md:border-manga-card-tab lg:border-manga-card-desk border-app-clear-gray3"
                            {% if manga.mangaJikanAPI %}
                                src="{{ manga.mangaJikanAPI.malImgWebp }}"
                            {% elseif manga.mangaMangaUpdatesAPI %}
                                src="{{ manga.mangaMangaUpdatesAPI.muImgJpg }}"
                            {% else %}
                                src="{{ manga.urlImg  }}"
                            {% endif %}
                            alt="{{ manga.title }}"
                    />
                </div>

                {# Buttons #}
                <div class="hidden w-full md:inline-block lg:inline-block my-10 text-center">
                    {# Add scanthèque #}
                    <button
                            {{ stimulus_action('scantheque', 'addToScantheque', 'click', {
                                'mangaData': manga.scanthequeData,
                                'statusTrack': 'play',
                                'messageSuccess': 'scantheque.add_success'|trans,
                                'messageAlreadyExist': 'scantheque.already_exist'|trans
                            }) }}
                            type="button"
                            title="{{'scantheque.btn_add'|trans}}"
                            class="font-sora-semiBold inline-flex text-cta-mob md:text-cta-tab lg:text-cta-desk px-6 py-3.5 text-center text-app-clear-white dark:text-app-dark-black me-2 mb-2 rounded-full bg-app-clear-purple3 dark:bg-app-dark-purple"
                    >
                        {{'scantheque.btn_add'|trans}}
                    </button>
                </div>
            </div>
            {# Right#}
            <div
                    {{ stimulus_controller('scantheque', {'userConnected': userConnected,'userConfig': userConfig}) }}
                    class="col-span-2 mx-3 md:ml-20 lg:ml-20"
            >
                {# Title #}
                <h1 class="text-center md:text-start lg:text-start my-5 md:my-10 lg:my-10 text-h1-mob md:text-h1-desk lg:text-h1-desk font-bangers-regular tracking-titles-spacing leading-none text-app-clear-black dark:text-app-dark-gray2">
                    {{ manga.title }}
                </h1>
                {# Categories #}
                <div class="flex flex-wrap justify-center md:justify-start lg:justify-start my-8 md:my-16 lg:my-16 mx-4 md:mx-0 lg:mx-0 gap-2">
                    {% for mType in manga.mangaType %}
                        <span class="bg-app-clear-pink2 text-text-mob md:text-text-tab lg:text-text-desk text-app-clear-black font-sora-semiBold md:m-2 lg:m-2 px-2 py-2 md:px-5 md:py-2 lg:px-5 lg:py-2 rounded-full border-manga-category border-app-dark-black dark:border-none">
                            {{ mType.name }}
                        </span>
                    {% endfor %}
                </div>
                {# Description #}
                <p class="my-12 lg:max-w-3xl font-sora-regular text-left md:text-start lg:text-start text-text-mob md:text-text-tab lg:text-text-desk text-app-clear-black dark:text-app-dark-gray2">
                    {{manga.description|raw}}
                </p>
                {# Characteristics #}
                <ul class="my-14 lg:my-28 lg:max-w-xl text-p-characteristics-mob md:text-p-characteristics-tab lg:text-p-characteristics-desk font-sora-bold text-app-clear-black truncate dark:text-app-dark-gray2 divide-y divide-app-clear-black dark:divide-app-clear-gray2">
                    {% if manga.lastReleasedAt %}
                        <li class="pt-1 pb-4 lg:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-initial w-[60%] min-w-0">
                                    <p>
                                        {{'manga.release_last'|trans }}
                                    </p>
                                </div>
                                <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                    {{ manga.lastReleasedAt ? manga.lastReleasedAt|date('d/m/Y') : '-' }}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% if manga.nbVolumes %}
                        <li class="pt-1 pb-4 lg:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-initial w-[60%] min-w-0">
                                    <p>
                                        {{ 'manga.volume'|trans|capitalize }}s
                                    </p>
                                </div>
                                <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                    {{ manga.nbVolumes ? : '-' }}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="pt-1 pb-4 lg:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-initial w-[60%] min-w-0">
                                <p>
                                    {{ 'manga.chapter'|trans|capitalize }}s
                                </p>
                            </div>
                            <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                {{ manga.nbChapters ? : '-' }}
                            </div>
                        </div>
                    </li>
                    {% if manga.fantrad and manga.fantrad|length > 0 %}
                        <li class="pt-1 pb-4 lg:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="flex-initial w-[60%] min-w-0">
                                    <p>
                                        {{ 'app.fantrad'|trans }}(s)
                                    </p>
                                </div>
                                <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                    <ul class="max-w-md space-y-1 list-disc list-inside">
                                        {% for fantrad in manga.fantrad %}
                                            <li class="flex items-center">
                                                <svg class="w-3.5 h-3.5 md:w-6 md:h-6 me-2 text-app-clear-purple dark:text-app-dark-purple flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                                                </svg>
                                                <a href="{{ fantrad.url }}" title="{{ fantrad.name }}" target="_blank" class="underline hover:text-app-clear-purple hover:dark:accent-app-dark-purple">
                                                    {{ fantrad.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="pt-1 pb-4 lg:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-initial w-[60%] min-w-0">
                                <p>
                                    {{ 'manga.published'|trans}}
                                </p>
                            </div>
                            <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                {{ manga.publishedAt ? manga.publishedAt|date('d/m/Y') : '-' }}
                            </div>
                        </div>
                    </li>
                    <li class="pt-1 pb-4 lg:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-initial w-[60%] min-w-0">
                                <p>
                                    {{ 'manga.status'|trans }}
                                </p>
                            </div>
                            <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                {{ manga.mangaStatus ? manga.mangaStatus.title : '-' }}
                            </div>
                        </div>
                    </li>
                    <li class="pt-1 pb-4 lg:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-initial w-[60%] min-w-0">
                                <p>
                                    {{ 'manga.public'|trans }}
                                </p>
                            </div>
                            <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                {{ manga.isAdult ? 'Public adulte' : 'Tout public' }}
                            </div>
                        </div>
                    </li>
                    <li class="pt-1 pb-4 lg:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-initial w-[60%] min-w-0">
                                <p>
                                    {{'manga.category'|trans}}
                                </p>
                            </div>
                            <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                {{ manga.category ? manga.category.value : '-' }}
                            </div>
                        </div>
                    </li>
                    <li class="pt-1 pb-4 lg:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-initial w-[60%] min-w-0">
                                <p>
                                    {{ 'manga.author'|trans }}(s)
                                </p>
                            </div>
                            <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                {% if manga.author %}
                                    {% set authors = manga.author|split(',') %}
                                    <ul class="max-w-md space-y-1 list-disc list-inside">
                                        {% for author in authors %}
                                            <li class="flex items-center">
                                                <svg class="w-3.5 h-3.5 md:w-6 md:h-6 me-2 text-app-clear-purple dark:text-app-dark-purple flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                    <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                                </svg>
                                                {{ author }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="pt-1 pb-4 lg:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-initial w-[60%] min-w-0">
                                <p>
                                    {{ 'manga.designer'|trans }}
                                </p>
                            </div>
                            <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                {{ manga.designer ? : '-' }}
                            </div>
                        </div>
                    </li>
                    <li class="pt-1 pb-4 lg:pb-4">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-initial w-[60%] min-w-0">
                                <p>
                                    {{ 'manga.edition'|trans }}
                                </p>
                            </div>
                            <div class="inline-flex items-center font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                                {% if manga.editor|length > 0 %}
                                    {% for editor in manga.editor %}
                                        <p>
                                            {{ editor.name }}
                                        </p>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
                {# Buttons #}
                <div class="md:hidden lg:hidden my-16 md:my-40 lg:my-40 text-center">
                    {# Add scanthèque #}
                    <button
                            {{ stimulus_action('scantheque', 'addToScantheque', 'click', {'mangaData': manga.scanthequeData, 'statusTrack': 'play'}) }}
                            type="button"
                            title="{{'scantheque.btn_add'|trans }}"
                            class="font-sora-semiBold text-cta-mob inline-flex md:text-cta-tab lg:text-cta-desk px-8 lg:px-16 py-2 lg:py-3.5 text-center text-app-clear-white dark:text-app-dark-black me-2 mb-3 rounded-full bg-app-clear-purple3 dark:bg-app-dark-purple"
                    >
                        {#                        <svg class="me-2 my-auto w-5 h-5 lg:w-6 lg:h-6 text-app-clear-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 19">#}
                        {#                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"/>#}
                        {#                        </svg>#}
                        {{'scantheque.btn_add'|trans }}
                    </button>
                </div>
            </div>
        </div>
        <div class="flex justify-between w-full pb-10 lg:pb-20 px-2 lg:px-4 mx-auto max-w-screen-xl">
            {# Return btn #}
            {{ component('ButtonNavigateComponent', {
                title: 'app.catalog'|trans|capitalize,
                routeName: path('catalog_index')
            }) }}
            {# Next btn #}
            {{ component('ButtonNavigateComponent', {
                title: 'app.scantheque'|trans|capitalize,
                routeName: path('scantheque_index'),
                direction: 'right'
            }) }}
        </div>
    </section>
{% endblock %}