{% extends 'base.html.twig' %}

{% block title %}{{ manga.title|capitalize }}{% endblock %}

{% block stylesheetsExtends %}
    {{ encore_entry_link_tags('htmx') }}
{% endblock %}

{% block javascriptsExtends %}
    {{ encore_entry_script_tags('htmx') }}
{% endblock %}

{% block body %}
    <section class="pt-44 bg-app-clear-gray dark:bg-app-dark-gray1">
        {{ component('BreadcumbComponent', {
            'menus' : {
                'Catalogue' : path('catalog_index'),
                'current' : manga.title
            }
        }) }}
        <div
                class="grid grid-cols-2 lg:grid lg:grid-cols-3 items-start px-8 lg:px-4 py-16 mx-auto max-w-screen-xl"
        >
            <!--Left: Images -->
            <div class="col-span-1 bg-white rounded-lg dark:bg-transparent">
                <img
                        class="w-[15rem] p-4 rounded-lg border border-app-clear-black dark:border-app-dark-gray2"
                        src="{{ manga.mangaJikanAPI.malImgWebp }}"
                        alt="{{ manga.title }}"
                />
            </div>
            <div class="col-span-2">
                <!-- Title -->
                <h1
                        class="mb-10 text-[2rem] lg:text-[3rem] font-sora-bold tracking-normal leading-none text-app-clear-black dark:text-app-dark-gray2"
                >
                    <span
                            class="text-transparent bg-clip-text bg-gradient-to-r from-app-clear-purple2 to-app-clear-purple"
                    >
                        {{ manga.title }}
                    </span>
                </h1>
                <!-- Categories -->
                <div class="flex flex-wrap max-w-lg">
                    {% for mType in manga.mangaType %}
                        <span
                                class="bg-app-clear-pink2 text-app-clear-black font-sora-regular m-2 px-2.5 py-2 rounded-full"
                        >
                        {{ mType.name }}
                    </span>
                    {% endfor %}
                </div>
                <!-- Description -->
                <p class="my-10 lg:max-w-3xl font-sora-regular text-text-mob lg:text-text-desk text-app-clear-black dark:text-app-dark-gray2">
                    {{manga.description}}
                </p>
                <!-- Caracteristics -->
            </div>
            <!-- Return btn -->
            {{ component('ButtonReturnComponent', {
                title: 'Catalogue',
                pathReturn: path('catalog_index')
            }) }}
        </div>

    </section>
{% endblock %}