<div{{ attributes }}>
    <!-- component html -->
    <a
            class="text-cta-nav-mob lg:text-cta-nav-desk px-5 py-2.5 text-center inline-flex items-center font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2 bg-transparent hover:text-app-focus-purple dark:hover:text-app-focus-purple rounded-lg "
            title="{{ title }}"
            href="{{ routeName }}"
    >
        {% if direction == 'left' %}
            <svg class="ml-0 mr-2 lg:ml-2 lg:mr-2 w-5 h-3 lg:w-4 lg:h-4 text-app-clear-black dark:text-app-dark-gray2 hover:text-app-focus-purple dark:hover:text-app-focus-purple" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
            </svg>
            {{ title }}
        {% else %}
            {{ title }}
            <svg class="ml-2 mr-0 lg:ml-2 lg:mr-2 w-5 h-3 lg:w-4 lg:h-4 text-app-clear-black dark:text-app-dark-gray2 hover:text-app-focus-purple dark:hover:text-app-focus-purple" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        {% endif %}
    </a>
</div>
