<!DOCTYPE html>
<html lang="fr">
<body>
<h1>{{ app_name }} - Modification de mot de passe</h1>

<p>
    Une demande de modification de mot de passe a été générée à l'adresse mail <code>{{ emailTo }}</code>.
</p>

<p>
    <a href="{{ resetUrl }}">Cliquez ici pour modifier votre mot de passe sur {{ app_name }}</a>
    <strong>(Ce lien est valide jusqu'au {{ expiredAt|date('d/m/Y H:m') }})</strong>
</p>
</body>
</html>