<div {{ attributes }}>
    <!-- component html -->
    <section
            id="mangas-gallery" class="bg-app-clear-white dark:bg-app-dark-black"
    >
        <div
                {{ stimulus_controller('search-catalog') }}
                class="mx-auto max-w-screen-xl">
            {% if isPagination %}
                <div
                        class="m-10"
                >
                    <p class="text-right font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2">
                        {{ mangas.getTotalItemCount }} mangas
                    </p>
                </div>

            {% endif %}
            <div class="grid gap-4 grid-cols-2 lg:grid-cols-4">
                {% for key, manga in mangas %}
                    <div class="px-12 lg:px-0 bg-white rounded-lg dark:bg-transparent">
                        <a href="#">
                            <img
                                    class="w-full h-96 p-4 rounded-lg transition ease-in-out delay-150 duration-500 hover:-translate-y-1 hover:scale-110 border border-app-clear-black dark:border-app-dark-gray2"
                                    src="{{ manga.mangaJikanAPI.malImgWebp }}"
                                    alt="{{ manga.title }}"
                            />
                            <div class="p-5">
                                <h3
                                        class="mb-2 text-title-manga-mob lg:text-title-manga-desk line-clamp-2 font-sora-semiBold tracking-normal text-app-clear-black dark:text-app-dark-gray2">
                                    {{ manga.title }}
                                </h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if isPagination %}
                {# display navigation #}
                <div class="flex justify-center py-20 navigation">
                    {{ knp_pagination_render(mangas) }}
                </div>
            {% endif %}
        </div>
    </section>
</div>
