<div{{ attributes }}>
    <!-- component html -->
    <section class="bg-app-clear-white dark:bg-app-dark-gray1">
        <div class="py-24 px-8 mx-auto max-w-screen-xl lg:py-24 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center mb-20 lg:mb-24">
                <h2
                        class="mb-4 text-5xl lg:text-5xl tracking-tight font-sora-semiBold text-app-dark-gray1 dark:text-app-clear-white"
                >
                    {{ title }}
                </h2>
            </div>
            <div class="grid gap-4 grid-cols-2 lg:grid-cols-4">
                {% for key, manga in mangas %}
                {% if key % 2 == 0 %}
                <div
                        class="xl:mt-6 px-12 lg:px-0 bg-white rounded-lg dark:bg-transparent">
                    {% else %}
                    <div
                            class="xl:mb-6 px-12 lg:px-0 bg-white rounded-lg dark:bg-transparent">
                        {% endif %}
                        <a href="#">
                            <img
                                    class="w-full h-96 p-4 rounded-lg transition ease-in-out delay-150 duration-500 hover:-translate-y-1 hover:scale-110 border border-app-clear-black dark:border-app-dark-gray2"
                                    src="{{ manga.mangaJikanAPI.malImgWebp }}"
                                    alt="{{ manga.title }}"
                            />
                            <div class="p-5">
                                <h5
                                        class="mb-2 text-3xl lg:text-2xl uppercase line-clamp-2 font-sora-semiBold tracking-normal text-app-clear-black dark:text-app-dark-gray2">
                                    {{ manga.title }}
                                </h5>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>
</div>
