{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'app.scantheque'|trans|capitalize }}{% endblock %}

{% block stylesheetsExtends %}
    {{ encore_entry_link_tags('htmx') }}
{% endblock %}

{% block javascriptsExtends %}
    {{ encore_entry_script_tags('htmx') }}
{% endblock %}

{% block body %}
    {#  Header #}
    {{ component('SectionHeaderComponent', {
        title: user ? 'scantheque.hello'|trans : 'app.scantheque'|trans|capitalize,
        menuBreadcrumb: {
            'app.catalog' : path('catalog_index'),
            'current' : 'app.scantheque'|trans|capitalize
        }
    }) }}

    {# Set user datas for localstorage #}
    {% set userConnected = user ? true : false %}
    {% set userConfig = user ? user.scanthequeData : [] %}

    <div
            {{ stimulus_controller('scantheque', {'userConnected': userConnected,'userConfig': userConfig}) }}
            class="bg-app-clear-white dark:bg-app-dark-gray"
    >
        {# Import only the html template #}
        {{ component('MangaCardComponent', {
            isOnlyTemplate: true
        }) }}


        {# Help section with steps #}
        <section
                {{ stimulus_target('scantheque',  'step') }}
                id="scantheque-faq-section"
                class="hidden bg-app-clear-white dark:bg-app-dark-gray"
        >
            {# Shown the steps only if there is no manga #}
            <div
                    class="pb-32 px-4 md:pb-32 md:px-14 lg:pb-32 lg:px-20 mx-auto max-w-screen-xl text-center"
            >
                <p class="py-20 px-12 md:px-20 lg:px-32 text-text-mob md:text-text-tab lg:text-text-desk font-sora-regular text-app-clear-black dark:text-app-dark-gray2">
                    {{ 'scantheque.p1'|trans({'%app_name%': app_name}) }}
                </p>
                <div class="px-4 md:px-6 lg:px-6 mx-auto text-center max-w-screen-lg">
                    {# Step info #}
                    {{  component('StepInfosComponent', {
                        idStep: 'step',
                        titles: [
                            'scantheque.step1'|trans,
                            'scantheque.step2'|trans,
                            'scantheque.step3'|trans,
                        ],
                        contents: [
                            'scantheque.p2'|trans,
                            'scantheque.p3'|trans,
                            'scantheque.p4'|trans
                        ]
                    }) }}
                </div>
            </div>
        </section>

        {# Current Chapters #}
        {{ component('MangaScanthequeComponent', {
            title: 'scantheque.chapter_play'|trans,
            user: user,
            statusTrack: 'play'
        }) }}

        {# Paused Chapters #}
        {{ component('MangaScanthequeComponent', {
            title: 'scantheque.chapter_pause'|trans,
            user: user,
            statusTrack: 'pause'
        }) }}

        {# Archived Chapters #}
        {{ component('MangaScanthequeComponent', {
            title: 'scantheque.chapter_archived'|trans,
            user: user,
            statusTrack: 'archived'
        }) }}
    </div>

{% endblock %}
