{% extends 'base.html.twig' %}

{% block title %}Scanthèque{% endblock %}

{% block stylesheetsExtends %}
    {{ encore_entry_link_tags('htmx') }}
{% endblock %}

{% block javascriptsExtends %}
    {{ encore_entry_script_tags('htmx') }}
{% endblock %}

{% block body %}
    <!-- Header -->
    {{ component('SectionHeaderComponent', {
        title: user ? 'Hello, '+user.username : 'Scanthèque'
    }) }}

    <div
            {{ stimulus_controller('scantheque') }}
            class="pt-10 bg-app-clear-gray dark:bg-app-dark-gray1"
    >
        <!-- Breadcrumb -->
        {{ component('BreadcumbComponent', {
            'menus' : {
                'Catalogue' : path('catalog_index'),
                'current' : 'Scanthèque'
            }
        }) }}

        <!-- Import only the html template -->
        {{ component('MangaCardComponent', {
            isOnlyTemplate: true
        }) }}

        <!-- Current Chapters -->
        {{ component('MangaScanthequeComponent', {
            title: 'Les chapitres en cours',
            user: user,
            statusTrack: 'play'
        }) }}

        <!-- Paused Chapters -->
        {{ component('MangaScanthequeComponent', {
            title: 'Les chapitres en pause',
            user: user,
            statusTrack: 'pause'
        }) }}
    </div>

{% endblock %}
