<div{{ attributes }}>
    <!-- component html -->
    {% if isOnlyTemplate == false %}
    {% set classDiv="px-0 bg-app-clear-white rounded-lg dark:bg-transparent" %}
    {% if isHome %}
        {% if key % 2 == 0 %}
            {% set classDiv="px-0 xl:mt-6 lg:px-0 bg-app-clear-white rounded-lg dark:bg-transparent" %}
        {% else %}
            {% set classDiv="px-0 xl:mb-6 lg:px-0 bg-app-clear-white rounded-lg dark:bg-transparent" %}
        {% endif %}
    {% endif %}
    <div class="{{ classDiv }}">
        <a href="{{ path('manga_index', {titleSlug: manga.titleSlug }) }}" title="{{ manga.title }}">
            <img
                    class="w-manga-card-mob md:w-manga-card-tab lg:w-manga-card-desk h-manga-card-mob md:h-manga-card-tab lg:h-manga-card-desk p-manga-card rounded-manga-scantheque-mob lg:rounded-manga-scantheque-desk border-manga-card-mob lg:border-manga-card-desk border-app-clear-gray3 dark:border-app-clear-gray3"
                    src="{{ manga.mangaJikanAPI.malImgWebp }}"
                    alt="{{ manga.title }}"
            />
            <div class="p-2">
                <h3
                        class="w-manga-card-mob lg:w-manga-card-desk mb-2 text-title-manga-mob lg:text-title-manga-desk line-clamp-2 font-sora-semiBold tracking-normal text-app-clear-black dark:text-app-dark-gray2">
                    {{ manga.title }}
                </h3>
            </div>
        </a>
    </div>
</div>
{% else %}
    <template id="mangaCardTemplate">
        <div class="grid grid-cols-2 lg:grid-cols-2 px-1 lg:px-0 bg-white dark:bg-transparent items-center rounded-manga-scantheque-mob lg:rounded-manga-scantheque-desk border-manga-scantheque-mob lg:border-manga-scantheque-desk border-app-focus-purple dark:border-app-focus-purple">
            {# Image #}
            <div>
                <a href="" title="">
                    <img class="mx-auto w-manga-scantheque-mob lg:w-manga-scantheque-desk h-manga-scantheque-mob lg:h-manga-scantheque-desk p-manga-card rounded-manga-scantheque-mob lg:rounded-manga-scantheque-desk"
                         src=""
                         alt=""
                    />
                </a>
            </div>
            <div class="h-full">
                {# Menu status #}
                <div class="flex justify-end px-2 pt-1 relative">
                    <button
                            {{ stimulus_action('scantheque', 'showMenuStatus', 'click') }}
                            id="dropdown-btn"
                            class="rounded-lg text-sm p-1.5 inline-block text-app-clear-black dark:text-app-dark-gray2 hover:text-app-focus-purple dark:hover:text-app-focus-purple focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 "
                            type="button"
                            title="Configurer le status"
                    >
                        <span class="sr-only">Open dropdown</span>
                        <svg class="w-6 h-5 lg:w-10 lg:h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                        </svg>
                    </button>
                    {# Dropdown menu #}
                    <div
                            id="dropdown-menu"
                            class="hidden absolute w-[98%] top-10 left-0 z-10 font-sora-regular text-text-dropdown-mob lg:text-text-dropdown-desk text-app-clear-black dark:text-app-dark-gray2 list-none bg-white dark:bg-app-dark-gray1 border-2 border-app-clear-black dark:border-app-dark-gray2"
                    >
                        <ul class="py-2 lg:py-2 text-center" aria-labelledby="dropdown-btn">
                            <li
                                    {{ stimulus_action('scantheque', 'setStatusManga', 'click') }}
                                    title="En cours"
                                    status-track="play"
                                    class="hidden border-b-2 border-app-clear-black dark:border-app-dark-gray2"
                            >
                                <p
                                        class="block px-4 py-2 hover:text-app-focus-purple dark:hover:text-app-focus-purple"
                                >
                                    En cours
                                </p>
                            </li>
                            <li
                                    {{ stimulus_action('scantheque', 'setStatusManga', 'click') }}
                                    title="Mettre en pause"
                                    status-track="pause"
                                    class="hidden border-b-2 border-app-clear-black dark:border-app-dark-gray2"

                            >
                                <p
                                        class="block px-4 py-2 hover:text-app-focus-purple dark:hover:text-app-focus-purple"
                                >
                                    Mettre en pause
                                </p>
                            </li>
                            <li
                                    {{ stimulus_action('scantheque', 'setStatusManga', 'click') }}
                                    class="hidden border-y-2 border-app-clear-black dark:border-app-dark-gray2"
                                    title="Archiver"
                                    status-track="archived"
                            >
                                <p
                                        class="block px-4 py-2 hover:text-app-focus-purple dark:hover:text-app-focus-purple"
                                >
                                    Archiver
                                </p>
                            </li>
                            <li
                                    {{ stimulus_action('scantheque', 'setStatusManga', 'click') }}
                                    title="Supprimer"
                                    status-track="delete"
                            >
                                <p
                                        class="block px-4 py-2 hover:text-app-focus-purple dark:hover:text-app-focus-purple"
                                >
                                    Supprimer
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="info-manga">
                    {# Title #}
                    <h3 class="mt-4 mx-auto px-3 w-manga-scantheque-card-mob lg:w-manga-scantheque-card-desk text-title-scantheque-mob lg:text-title-scantheque-desk line-clamp-2 font-sora-semiBold tracking-normal text-app-clear-black dark:text-app-dark-gray2"></h3>

                    {# Actions #}
                    <div class="px-4 lg-px-0 my-8 lg:my-16 inline-flex rounded-md shadow-sm" role="group">
                        <form class="max-w-md mx-auto ">
                            <div class="relative flex items-center max-w-1/2">
                                {# Minus Btn #}
                                <button
                                        {{ stimulus_action('scantheque', 'updateNbChapter', 'click', {'formField': 'btn-minus'}) }}
                                        type="button"
                                        title="Décrémenter"
                                        id="minus-btn"
                                        name="minus-btn"
                                        data-input-counter-decrement="quantity-input"
                                        class="minus-btn rounded-s-lg p-2 h-btn-minus-plus-mob lg:h-btn-minus-plus-desk bg-app-clear-gray dark:bg-app-dark-black hover:bg-app-focus-purple dark:hover:bg-app-focus-purple  border border-app-clear-black dark:border-app-dark-gray2 focus:ring-app-clear-black dark:focus:ring-app-dark-gray2 focus:ring-2 focus:outline-none"
                                >
                                    <svg
                                            class="w-icon-minus-plus-mob h-icon-minus-plus-mob lg:w-icon-minus-plus-desk lg:h-icon-minus-plus-desk text-app-clear-black dark:text-app-dark-gray2"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 18 2"
                                    >
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                    </svg>
                                </button>
                                {# input #}
                                <input
                                        {{ stimulus_action('scantheque', 'updateNbChapter', 'input', {'formField': 'input'}) }}
                                        type="text"
                                        id="quantity-input"
                                        data-input-counter
                                        data-input-counter-min="1"
                                        data-input-counter-max="9999"
                                        aria-describedby="helper-text-explanation"
                                        class="block w-full py-2.5 h-btn-minus-plus-mob lg:h-btn-minus-plus-desk font-sora-regular text-center text-sm lg:text-2xl text-app-clear-black dark:text-app-dark-gray2 bg-app-clear-gray dark:bg-app-dark-black hover:bg-app-focus-purple dark:hover:bg-app-focus-purple border border-app-clear-black dark:border-app-dark-gray2 focus:ring-app-clear-black dark:focus:ring-app-dark-gray2 focus:ring-2 focus:outline-none"
                                        placeholder="1"
                                        required
                                >
                                {# Plus Btn #}
                                <button
                                        {{ stimulus_action('scantheque', 'updateNbChapter', 'click', {'formField': 'btn-plus'}) }}
                                        type="button"
                                        id="plus-btn"
                                        title="Incrémenter"
                                        name="plus-btn"
                                        data-input-counter-increment="quantity-input"
                                        class="plus-btn rounded-e-lg p-2 h-btn-minus-plus-mob lg:h-btn-minus-plus-desk bg-app-clear-gray dark:bg-app-dark-black hover:bg-app-focus-purple dark:hover:bg-app-focus-purple  border border-app-clear-black dark:border-app-dark-gray2 focus:ring-app-clear-black dark:focus:ring-app-dark-gray2 focus:ring-2 focus:outline-none"
                                >
                                    <svg
                                            class="w-icon-minus-plus-mob h-icon-minus-plus-mob lg:w-icon-minus-plus-desk lg:h-icon-minus-plus-desk text-app-clear-black dark:text-app-dark-gray2"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr class="lg:hidden h-px my-1 bg-app-clear-black border-0 dark:bg-app-dark-gray2">
    </template>
{% endif %}